<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap = "./vendor/autoload.php"
    colors = "true"
>
    <testsuites>
        <testsuite name = "Cart Test">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="reports/coverage" 
            title="coverage report"
            charset="UTF-8" yui="true" highlight="true"
            lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="reports/logs/clover.xml"/>
        <log type="junit"
            target="reports/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
